################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MsfConsultign.Student/MsfConsultign.Student.Api/obj
/MsfConsultign.Student/MsfConsultign.Student.Api/appsettings.Development.json
/MsfConsultign.Student/.vs/MsfConsultign.Student/v16
/MsfConsultign.Student/.vs/MsfConsultign.Student/DesignTimeBuild
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/MsfConsultign.Student/v16/.suo
/MsfConsultign.Student/MsfConsulting.Lausa.Data/obj
/MsfConsultign.Student/MsfConsulting.Student.Api/obj
/MsfConsulting.Student/MsfConsulting.Lausa.Data/obj
/MsfConsulting.Student/.vs/MsfConsultign.Student/DesignTimeBuild
/MsfConsulting.Student/.vs/MsfConsultign.Student/v16
/MsfConsulting.Student/MsfConsulting.Student.Api/obj
/MsfConsulting.Student/MsfConsulting.Lausa.Domain/obj
/MsfConsulting.Student/MsfConsulting.Lausa.Domain/bin/Debug/net5.0
/MsfConsulting.Student/MsfConsulting.Lausa.Data/bin/Debug/net5.0
/MsfConsulting.Student/MsfConsulting.Student.Api/bin/Debug/net5.0
/MsfConsulting.Student/MsfConsulting.Lausa.Domain.Service/obj
/MsfConsulting.Student/MsfConsulting.Lausa.Data.Repository/bin/Debug/net5.0
/MsfConsulting.Student/MsfConsulting.Lausa.Data.Repository/obj
/MsfConsulting.Student/MsfConsulting.Lausa.Dto/obj
/MsfConsulting.Student/MsfConsulting.Lausa.Application.Service/obj
/MsfConsulting.Student/MsfConsulting.Lausa.Domain.Service/bin/Debug/net5.0
/MsfConsulting.Student/MsfConsulting.Lausa.Dto/bin/Debug/net5.0
/MsfConsulting.Student/MsfConsulting.Lausa.Application.Service/bin/Debug/net5.0
/MsfConsulting.Student/MsfConsulting.Student.Api.Dto/obj
/MsfConsulting.Student/MsfConsulting.Lausa.Student.Api/bin/Debug/net5.0
/MsfConsulting.Student/MsfConsulting.Lausa.Student.Api/obj
/MsfConsulting.Student/MsfConsulting.Lausa.Student.Api/MsfConsulting.Lausa.Student.Api.csproj.user
*.suo
*.cache
/MsfConsulting.Student/MsfConsulting.Lausa.Database.Migrations/obj
/MsfConsulting.Student/MsfConsulting.Lausa.Database.Migrations/bin/Debug/net5.0/ref
/MsfConsulting.Student/MsfConsulting.Lausa.Database.Migrations/bin/Debug/net5.0
/MsfConsulting.Student/.vs/MsfConsulting.Lausa
