################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MsfConsulting.Lausa/MsfConsulting.Lausa.Api/obj
/MsfConsulting.Lausa/MsfConsulting.Lausa.Api/appsettings.Development.json
/MsfConsulting.Lausa/.vs/MsfConsulting.Lausa/v16
/MsfConsulting.Lausa/.vs/MsfConsulting.Lausa/DesignTimeBuild
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/MsfConsulting.Lausa/v16/.suo
/MsfConsulting.Lausa/MsfConsulting.Lausa.Data/obj
/MsfConsulting.Lausa/MsfConsulting.Lausa.Api/obj
/MsfConsulting.Lausa/MsfConsulting.Lausa.Data/obj
/MsfConsulting.Lausa/.vs/MsfConsulting.Lausa/DesignTimeBuild
/MsfConsulting.Lausa/.vs/MsfConsulting.Lausa/v16
/MsfConsulting.Lausa/MsfConsulting.Lausa.Api/obj
/MsfConsulting.Lausa/MsfConsulting.Lausa.Domain/obj
/MsfConsulting.Lausa/MsfConsulting.Lausa.Domain/bin/Debug/net5.0
/MsfConsulting.Lausa/MsfConsulting.Lausa.Data/bin/Debug/net5.0
/MsfConsulting.Lausa/MsfConsulting.Lausa.Api/bin/Debug/net5.0
/MsfConsulting.Lausa/MsfConsulting.Lausa.Domain.Service/obj
/MsfConsulting.Lausa/MsfConsulting.Lausa.Data.Repository/bin/Debug/net5.0
/MsfConsulting.Lausa/MsfConsulting.Lausa.Data.Repository/obj
/MsfConsulting.Lausa/MsfConsulting.Lausa.Dto/obj
/MsfConsulting.Lausa/MsfConsulting.Lausa.Application.Service/obj
/MsfConsulting.Lausa/MsfConsulting.Lausa.Domain.Service/bin/Debug/net5.0
/MsfConsulting.Lausa/MsfConsulting.Lausa.Dto/bin/Debug/net5.0
/MsfConsulting.Lausa/MsfConsulting.Lausa.Application.Service/bin/Debug/net5.0
/MsfConsulting.Lausa/MsfConsulting.Lausa.Api.Dto/obj
/MsfConsulting.Lausa/MsfConsulting.Lausa.Student.Api/bin/Debug/net5.0
/MsfConsulting.Lausa/MsfConsulting.Lausa.Student.Api/obj
/MsfConsulting.Lausa/MsfConsulting.Lausa.Student.Api/MsfConsulting.Lausa.Student.Api.csproj.user
*.suo
*.cache
/MsfConsulting.Lausa/MsfConsulting.Lausa.Database.Migrations/obj
/MsfConsulting.Lausa/MsfConsulting.Lausa.Database.Migrations/bin/Debug/net5.0/ref
/MsfConsulting.Lausa/MsfConsulting.Lausa.Database.Migrations/bin/Debug/net5.0
/MsfConsulting.Lausa/.vs/MsfConsulting.Lausa
/MsfConsulting.Lausa/MsfConsulting.Lausa.Domain.Repository/bin/Debug/net5.0
/MsfConsulting.Lausa/MsfConsulting.Lausa.Domain.Repository/obj
/MsfConsulting.Lausa/MsfConsulting.Lausa.Read.Application.Service/obj
/MsfConsulting.Lausa/MsfConsulting.Lausa.Read.Application.Service/bin/Debug/net5.0
/MsfConsulting.Lausa/MsfConsulting.Lausa.Api/bin/Debug/net5.0
/MsfConsulting.Lausa/MsfConsulting.Lausa.Api/obj
/MsfConsulting.Lausa/MsfConsulting.Lausa.Read.Api/bin/Debug/net5.0
/MsfConsulting.Lausa/MsfConsulting.Lausa.Read.Api/obj
/MsfConsulting.Lausa/MsfConsulting.Lausa.Api/MsfConsulting.Lausa.Api.csproj.user
/MsfConsulting.Lausa/MsfConsulting.Lausa.Shared/bin/Debug/net5.0
/MsfConsulting.Lausa/MsfConsulting.Lausa.Shared/obj/Debug/net5.0
/MsfConsulting.Lausa/MsfConsulting.Lausa.Shared/obj
